{% extends "base.html" %}
{% load static %}

{% block banner %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="media/squad.bg.jpg" class="d-block w-100" alt="woman squating">
      </div>
      <div class="carousel-item">
        <img src="media/dumbbell.bg.jpg" class="d-block w-100" alt="dumbell set">
      </div>
    </div>
  </div>
{% endblock %}

