{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item carousel-image bg-img-1 active">
          <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black">
                        Everything you need to succeed!
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div>
        </div>        
        <div class="carousel-item carousel-image bg-img-2">
          <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black">
                        Embrace your desire to change. Let us provide the structure
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'subscription' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Find Out More</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div> 
        </div>
      </div>
    </div>
{% endblock %}

