{% extends "community_base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="col-12 col-lg-6 offset-lg-3 my-auto py-1 py-lg-0">
        <form action="" method="get">
            <div class="input-group w-100">
                <input type="text" name="q" placeholder="Find other members" class="form-control border border-black rounded-pill"/>
                <div class="input-group-append">
                    <button type="submit" class="form-control btn btn-white">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
    <div class="container my-1">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="card border border-black">
                    <div class="card-body">
                        <a href="{% url 'post' %}" class="btn btn-block btn-primary rounded-pill text-left pl-4">
                            Share your thoughts...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for post in post_list %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 my-2">
                <div class="card border border-black">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.member }}</h5>
                        <hr>
                        <p class="card-text">{{ post.content }}</p>
                        <hr>
                        {% if post.image %}
                            <img class="card-image-bottom w-100" src="{{ post.image.url }}" >
                        {% endif %}
                        <p class="card-text text-muted my-2">{{ post.created_on }}</p>
                        <div class="row">
                            <div class="col-6">
                                <p class="text-muted text-left pt-2">Comments</p>
                            </div>
                            <div class="col-6 text-right">
                                <a href="{% url 'comment' post.id %}" class="btn btn-success rounded-pill"><i class="fa-solid fa-comment"></i></a>
                                <a href="{% url 'delete_post' post.id %}" class="btn btn-secondary rounded-pill"><i class="fa-solid fa-trash"></i></a>
                                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary rounded-pill"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-danger">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}


