{% extends "community_base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
   <div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="card border-black">
                <form action="{% url 'post' %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="text-center">
                        <a href="{% url 'community' %}" type="button" class="btn btn-danger rounded-pill"><i class="fa-solid fa-ban"></i></a>
                        <button type="button" class="btn btn-secondary rounded-pill"><i class="fa-solid fa-image"></i></button>
                        <button type="submit" class="btn btn-primary rounded-pill"><i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   </div>
{% endblock %}