html {
    height: 100%;
}

header {
    background-color: #dce1e6;
}

body {
    font-family: 'caveat';
}

.logo {
    background: url('/media/logo2.jpg');
}

.bg-logo {
    height: 50%;
    width: 75%;
}

.bg-img-1 {
    background-image: url('/media/squat.bg.jpg');
}

.bg-img-2 {
    background-image: url('/media/dumbbell.bg.jpg');
}

.sub-bg {
    background-image: url('/media/people.bg.jpg');
}

.community-bg {
    background-image: url('/media/community.bg.jpg');
}

.sub-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.community-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#logo {
    font-family: 'caveat';
    font-weight: 800;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.search {
    padding: 0;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

a.category-badge {
    transition: transform .2s;
    font-size: 25px;
}

a.category-badge > span.badge:hover {
    background: #dc3545 !important;
    color: #fff !important;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.btt-button {
    height: 42px;
    width: 42px;
    background-color: #dc3545;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* Allauth form formatting */
  
  .allauth-form-inner-content p {
      margin-top: 1.5rem; /* mt-4 */
      color: #6c757d; /* text-secondary */
  }
  
  .allauth-form-inner-content input {
      border-color: #000;
      border-radius: 0;
  }
  
  .allauth-form-inner-content label:not([for='id_remember']) {
      display: none;
  }
  
  .allauth-form-inner-content input::placeholder {
      color: #aab7c4;
  }
  
  .allauth-form-inner-content button,
  .allauth-form-inner-content input[type='submit'] {
      /* btn */
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #000;
      border: 1px solid #000;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0;
  
      /* standard bootstrap btn transitions */
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .allauth-form-inner-content button:hover,
  .allauth-form-inner-content input[type='submit']:hover {	
      color: #fff;
      background-color: #222;
      border-color: #222;
  }
  
  .allauth-form-inner-content a {
      color: #17a2b8; /* text-info */
  }
  
  /* Product Form */
  
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  
  .btn-file input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      cursor: pointer;
  }
  
  .custom-checkbox .custom-control-label::before {
      border-radius: 0;
      border-color: #dc3545;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #dc3545;
      border-color: #dc3545;
      border-radius: 0;
  }

  /* hide the radio button */
  
  .rate > input {
    display: none
  }

  .rate {
    display: inline-block;
    border: 0;
  }

  .rate > label {
    float: right;
  }

  /* showing the stars */

  .rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: fontawesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
  }

  /* half stars

  .rate > .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
  } */

  /* click & hover */
input:checked ~ label, input:hover ~ label {
    color:#ffc107
}

input:checked + label:hover, input:checked ~ label:hover,
input:checked ~ label:hover ~ label, label:hover ~ input:checked ~ label {
    color:#cc9000
}

/* Customer review stars */
.checked {
    color: #ffc107;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .community-header-container {
        padding-top: 118px;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding-top: 116px;
    }
}