{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="sub-bg sub-image">
    <div class="container h-100">
      <div class="row h-100">
          <div class="col-12 col-lg-8 offset-lg-2 bg-danger text-center py-5 my-5">
            <h3>Standard Membership</h3>
            <P>Monthly Exercise Plan</P>
            <P>Monthly Meal Plan</P>
            <P>Community Access</P>
            <P>Product Discoutn</P>
            <P>Invites to Q & A session</P>
          </div>    
      </div>
  </div>
{% endblock %}
